<% content_for :title, 'JOJASIC | INICIO  ' %>
<h1>JOJASIC</h1>
<p>JOJASIC es una aplicación web de reproducción de música, organizada en categorías y listas de reproducción personalizables e intercambiables entre usuarios, con estadísticas de popularidad por usuario y categoría.
</p>
